{% extends "base.html" %}

{% block content %}
<h1>Profiles</h1>

{% for profile in profiles %}
    <a href="{{ url_for('web_profiles.view_profile', id=profile.profile_id)}}">{{ profile.name }}</a>
    <a href="{{ url_for('web_profiles.update_profile', id=profile.profile_id) }}">update</a>
    <button>
        <form method="POST" action="{{ url_for('web_profiles.delete_profile', id=profile.profile_id) }}">
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </button> 
{% endfor %}

<a href="{{ url_for('web_profiles.create_profile') }}">Create New Profile</a>

{% for message in get_flashed_messages() %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %}

{% endblock %}