{% extends "base.html" %}

{% block content %}
<div class="formwrapper">

    {% for message in get_flashed_messages() %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
    </div>
    {% endfor %}

    <h3>User Registration</h3>
    <form method="POST" action="/web/register">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.email.label }}
            {{ form.email(placeholder="youremail@example.com") }}
            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.confirm.label }}
            {{ form.confirm }}
            {% if form.confirm.errors %}
            <ul class="errors">
                {% for error in form.confirm.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.subscription_status.label }}
            {{ form.subscription_status() }}
        </div>
        <div class="form-field">
            {{ form.submit }}
        </div>
    </form>

    <div class="login-signup">
        <span> Already have an account?</span>
        <a href="{{ url_for('web_users.web_users_login') }}">Log In</a>
    </div>
</div>

{% endblock %}